{
  "prettier/prettier": [
    "error",
    {
      "fileInfoOptions": {
        "withNodeModules": true
      }
    },
    {
      "singleQuote": true,
      "parser": "flow"
    },
    {},
    {
      "usePrettierrc": false
    }
  ]
}